ipython         # terminal
ipdb            # debugger
sdb             # debugger remoto
pip-tools       # lock de dependencias como a poetry
pytest          # execução de testes
pytest-order    # ordenação de testes
httpx           # requests async para testes, sucessor requests
black           # auto formatação
flake8          # linter
